<!DOCTYPE html>
<html class="gr__hs3_pl"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Slack | Hackerspace Trójmiasto</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="https://hs3.pl/contact/favicon.png">
    <link rel="stylesheet" type="text/css" href="https://hs3.pl/assets/normalize.css">
    <link rel="stylesheet" type="text/css" href="https://hs3.pl/assets/style.css">
  </head>
  <body data-gr-c-s-loaded="true">
    <header>
      <div class="nav">
        <a href="https://hs3.pl/"><img class="header__logo" src="https://hs3.pl/assets/logo_white_small.png" alt="home page"></a>
        <nav style="float:right;">
          <a href="https://hs3.pl/about/" title="o nas">o nas</a>
          <a href="https://hs3.pl/calendar/" title="kalendarz">kalendarz</a>
          <a href="https://hs3.pl/contact/" title="kontakt">kontakt</a>
          <a href="https://hs3.pl/membership/" title="członkostwo">członkostwo</a>
        </nav>
      </div>
    </header>
    <main>
      <div class="container">
        <h1>Slack</h1>
      </div>
      <section class="contact__cta">
        <div class="container">
          <p>
	  Podaj email na który ma zostać wysłane zaproszenie na&nbsp;<a href="https://hs3city.slack.com">hs3city.slack.com</a>
          </p>
          <form name="contact" method="POST"><input type="hidden" name="form-name" value="contact">
            <p>
              <input type="text" name="email" placeholder="email">
            </p>
	    <div>
		{% for item in slack_channels %}
		<span class="badge badge-pill badge-primary">
		<input type="checkbox" name="channels" value="{{ item.id }}"
		{% if item.is_general %}checked{% endif %}
		>
		{{ item.name }}
		<span class="badge badge-light">{{ item.num_members }}</span>
		</span>
		{% endfor %}
	    </div>
            <p>
	      <button type="”submit”">wyślij zaproszenie na slacka</button>
            </p>
          </form>
        </div>
      </section>
      <section id="more_info">
        <div class="container">
	  <p>
	  Oprócz slack'a który jakoś działa. Mamy też kanał na IRC #hs3@freenode.net i kanał matrix na #hs3:matrix.org.
	  </p>
	  <a class="btn" href="https://matrix.to/#/!qiIpNmHEHSmiHpvpXo:matrix.org?via=matrix.org">wyślij zaproszenie na matrix</a><br>
	  <a class="btn" href="https://webchat.freenode.net/#hs3">wejdź na IRC przez freenode</a><br>
	  <p>
	  Jak zwykle więcej info w <a href="https://wiki.hs3.pl/organizacja/komunikator">artykule na wiki</a>.
	  </p>
	</div>
      </section>
    </main>
    <footer>
      <section class="footer__notice">
        <p>MIT</p>
        <p>Nie działa?
          <a href="https://github.com/hs3city/slack-invite/issues">Zgłoś błąd.</a>
        </p>
      </section>
    </footer>
  
  </body>
</html>
